
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$client-primary: mat.define-palette(mat.$indigo-palette);
$client-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$client-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$client-theme: mat.define-light-theme((
  color: (
    primary: $client-primary,
    accent: $client-accent,
    warn: $client-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($client-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
$m:0.25rem;
.container{
    margin-top:8*$m;
    margin-left: 8*$m;
    margin-right: 8*$m;
    margin-bottom: 8*$m;
}
.grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap:0.5rem;
}
.spacer{
    flex:1 1 auto;
}
.w-100{
    width:100%;
}
.w-75{
    width:75%;
}
.w-50{
    width:50%;
}
.w-25{
    width:25%;
}
.my-1{
    margin-top:$m;
    margin-bottom: $m;
}
.my-2{
    margin-top:2*$m;
    margin-bottom: 2*$m;
}
.mx-1{
    margin-left:$m;
    margin-right: $m;
}
.mx-2{
    margin-left:2*$m;
    margin-right: 2*$m;
}
.px-1{
    padding-left:$m;
    padding-right: $m;
}
.px-2{
    padding-left:2*$m;
    padding-right: 2*$m;
}
.px-3{
    padding-left:3*$m;
    padding-right: 3*$m;
}
.px-4{
    padding-left:4*$m;
    padding-right: 4*$m;
}
.py-1{
    padding-top:$m;
    padding-bottom:$m;
}
.py-2{
    padding-top:2*$m;
    padding-bottom: 2*$m;
}
.py-3{
    padding-top:3*$m;
    padding-bottom:3*$m;
}
.py-4{
    padding-top:4*$m;
    padding-bottom:4*$m;
}
.col-2{
    width: 50%;
}
.col-3{
    width:33.33%;
}
.col-4{
    width:25%;
}

