<div ngClass="row justify-content-center">
    <div ngClass="col-lg-8">
      <mat-card ngClass="p-4">
        <div ngClass="d-flex flex-row">
          <mat-checkbox [checked]="isArticle" (change)="onIsArticleChange($event.checked)">Статья/заметка (только комментарии)</mat-checkbox>
          <mat-checkbox [checked]="isPrivate" (change)="onIsPrivateChange($event.checked)">Личная запись</mat-checkbox>
        </div>
       <div ngClass="grid2">
        <div ngClass="d-flex align-items-center">
          <input (keyup)="tagAddOnEnter($event)" type="text" placeholder="Тэги..." [formControl]="myControl" [matAutocomplete]="auto"
            [value]="tagSelected" #autocompleteInput [matChipInputFor]="chipGrid">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let tag of tagsFiltered|async" [value]="tag">{{tag.name}}</mat-option>
          </mat-autocomplete>
          <button ngClass="mx-1" mat-icon-button (click)="tagCreate(autocompleteInput.value)"><fa-icon [icon]="faTag"></fa-icon></button>
        </div>
        <div ngClass="d-flex align-items-center ms-4">
          <mat-chip-grid #chipGrid>
            <mat-chip-row *ngFor="let tag of tagsAdded" (removed)="tagDelete(tag)">
              {{tag.name}}
              <button matChipRemove><mat-icon>cancel</mat-icon></button>
            </mat-chip-row>
          </mat-chip-grid>
        </div>
      </div> 
        <input
          id="topic"
          ngClass="text-center mb-2 topic-font"
          [value]="title"
          (change)="handleTopicChange($event)"
          type="text"
          name="name"
        />
        <app-common-editor-rich [content]="content" (onCancel)="cancel()" (onSave)="edit($event)"></app-common-editor-rich>
      </mat-card>
    </div>
  </div>
  