<div ngClass="m-grid">
  <div>
    <h2>
      Тэги
    </h2>
    <mat-chip-listbox multiple="true">
      <mat-chip-option *ngFor="let tag of tags">
        {{tag.name}}
      </mat-chip-option>
    </mat-chip-listbox>
  </div>
  <div ngClass="i-grid">
    <div>
      <h2>10 новых записей</h2>
      <div *ngFor="let question of recentQuestions" ngClass="my-2">
          <a ngClass="link-offset-2 link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" routerLink="/topics/{{question.id}}">{{question.title}}</a>
      </div>
    </div>
    <div>
      <h2>Вопросы без ответа</h2>
    </div>
    <div>
      <h2>Популярные статьи</h2>
    </div>
  </div>
</div>
