<div ngClass="n-grid">
  <div></div>
  <div>
  </div>
  <div><button mat-flat-button color="primary" (click)="onQuestion('Новая запись')">
      Создать запись</button></div>
</div>
<hr>
<div ngClass="m-grid">
  <div>
    <h2>
      Тэги
    </h2>
    <mat-chip-listbox multiple="true" (change)="onChipSelect($event)">
      <mat-chip-option *ngFor="let tag of tags">
        {{tag.name}}
      </mat-chip-option>
    </mat-chip-listbox>
  </div>
  <hr>
  <div ngClass="i-grid">
    <div>
      <h2>10 новых записей</h2>
      <div *ngFor="let question of recentQuestions" ngClass="my-2">
        <a ngClass="link-offset-2 link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
          routerLink="/topics/{{this.topicService.getIdentifier(question)}}">{{question.title}}</a>
      </div>
    </div>
    <div>
      <h2>Вопросы без ответа</h2>
      <div *ngFor="let question of nonAnsweredQuestions" ngClass="my-2">
        <a ngClass="link-offset-2 link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
          routerLink="/topics/{{this.topicService.getIdentifier(question)}}">{{question.title}}</a>
      </div>

    </div>
    <div>
      <h2>Популярные статьи</h2>
      <div *ngFor="let article of popularArticles" ngClass="my-2">
        <div ngClass="d-inline-flex align-items-center">
          <a ngClass="link-offset-2 link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
            routerLink="/topics/{{this.topicService.getIdentifier(article)}}">{{article.title}}</a>
          <!-- <span ngClass="ms-2 scores-badge">{{article.scores}}</span> -->

        </div>
      </div>

    </div>
  </div>
  <hr>
  <div>
    <h2>Благодарности</h2>
    <ul>
      <li>Большое спасибо редактору ckeditor5 <a target="_blank" href="https://ckeditor.com/ckeditor-5/">https://ckeditor.com/ckeditor-5/</a></li>
      <li>Большое спасибо создателю этого плагина для математических формул в формате TeX <a target="_blank" href="https://github.com/isaul32/ckeditor5-math">https://github.com/isaul32/ckeditor5-math</a></li>
    </ul>
  </div>
</div>