<div ngClass="m-grid">
  <div>
    <h1>
      Тэги
    </h1>
    <mat-chip-listbox multiple="true">
      <mat-chip-option *ngFor="let tag of tags">
        {{tag.name}}
      </mat-chip-option>
    </mat-chip-listbox>
  </div>
  <div ngClass="i-grid">
    <div>
      <h1>Новые вопросы</h1>
      <div *ngFor="let question of recentQuestions" ngClass="my-2">
          <a ngClass="link-offset-2 link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" routerLink="/topics/{{question.id}}">{{question.title}}</a>
      </div>

    </div>
    <div>
      <h1>Популярные вопросы</h1>
    </div>
    <div>
      <h1>Популярные статьи</h1>
    </div>
    <div>
      <h1>Непопулярные вопросы</h1>
    </div>
  </div>
</div>
