.n-grid{
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}
.m-grid{
  display:grid;
  grid-template-columns: 1fr;
}
.i-grid{
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
}
.scores-badge{

}
