<header>
    <mat-toolbar ngClass="px-lg-5 py-1">
      <mat-toolbar-row ngClass="grid">
        <div ngClass="logo"><a style="text-decoration: none;color:black" routerLink="">
          <img ngClass="img-fluid" src="../../../assets/imgs/logo.svg" style="width: 40px;" alt="">
        </a>
        </div>
        <div ngClass="search">
          <app-search-bar></app-search-bar>
        </div>
        <div ngClass="menu">
          <app-login-display></app-login-display>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </header>