<div ngClass="row justify-content-center">
  <div ngClass="col-lg-8">
    <div ngClass="d-flex align-items-center justify-content-between">
      <mat-icon matIconPrefix>search</mat-icon>
      <form ngClass="flex-grow-1" subscriptSizing="dynamic">
          <div >
            <input #i [formControl]="q" placeholder="Поиск по вопросам" ngClass="w-100" type="text" matInput [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="clearSelection($event)">
              <mat-option *ngFor="let q of filteredQuestions|async" (onSelectionChange)="navigate(q.id)">
                {{q.title}}
              </mat-option>
            </mat-autocomplete>
          </div>
        </form>
        
    </div>
  </div>
</div>

