<div ngClass="row justify-content-center">
  <div ngClass="col">
    <div ngClass="d-flex align-items-center justify-content-between">
      <form ngClass="flex-grow-1" subscriptSizing="dynamic">
        <div>
          <div ngClass="search-box">
            <input #i [formControl]="q" style="font-family: Arial, FontAwesome;" ngClass="search-box-input w-100"
              type="search" matInput [matAutocomplete]="auto">
            <div class="search-box-placeholder-wrapper">
              <fa-icon [icon]="faMagnifyingGlass" class="search-box-placeholder"></fa-icon>
              <span>&nbsp;Поиск по записям</span>
            </div>
          </div>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="clearSelection($event)">
            <mat-option>
              <div><span ngClass="bold">(имя тэга) ...слова поиска...</span> - поиск по тегу, затем по словам в заголовке темы</div>
              <hr>
            </mat-option>
            <mat-option *ngFor="let q of filteredQuestions|async" (onSelectionChange)="navigate(q.id)">
              <div ngClass="d-flex justify-content-between align-items-center">
                <span>{{q.title}}</span>
                <span>
                  <span ngClass="small" *ngFor="let tag of q.tags"><mat-chip>{{tag.name}}</mat-chip></span>
                </span>
              </div>
            </mat-option>
          </mat-autocomplete>
        </div>
      </form>

    </div>
  </div>
</div>