@use '@angular/material' as mat;
@use '../../../styles.scss' as styles;

.search-box {   
    position: relative;
 
   &-placeholder-wrapper {
     pointer-events: none;
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     top: 2px;  
     z-index: 1000;
    }
 
   &-input:focus + .search-box-placeholder-wrapper {
     display: none;  
   } 
 }
.small{
  font-size: 12x;
}
.bold{
  font-weight: bold;
  font-size: 18px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: mat.get-color-from-palette(styles.$client-primary,400);
}