<div ngClass="row justify-content-center">
    <div ngClass="col">
        <form (ngSubmit)="addAnswer(form)" #form="ngForm">
            <div ngClass="d-flex flex-column">
                <mat-form-field appearance="outline">
                    <textarea ngModel matInput placeholder="Содержимое ответа..." name="text" id="" cols="85" rows="10" ></textarea>
                </mat-form-field>
                <button ngClass="w-50" mat-raised-button color="primary">Добавить ответ</button>
            </div>
        </form>
    </div>
</div>
