<div ngClass="row justify-content-center my-2">
    <div ngClass="col">
        <form (ngSubmit)="addAnswer(form)" #form="ngForm">
            <div ngClass="d-flex flex-column">
                <mat-form-field appearance="outline">
                    <textarea ngModel matInput placeholder="Содержимое ответа..." name="text" id="" cols="85" rows="10" ></textarea>
                </mat-form-field>
                <div ngClass="d-flex">
                    <button ngClass="me-1" mat-raised-button color="primary">Добавить ответ</button>
                    <button ngClass="ms-1" mat-flat-button (click)="hideForm()">Отмена</button>
                </div>
            </div>
        </form>
    </div>
</div>
