django==4.2
django-extensions
Werkzeug
psycopg2>=2.8
requests
pyOpenSSL
nameof
celery
jsonpickle
redis
django-cors-headers
djangorestframework
djangorestframework-simplejwt
daphne
channels
channels_redis
