
.topic-font{
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--bs-heading-color);
    width:100%;
    border:none;
    outline: none;
}
.grid2{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.input{
    border: 1px solid black;
    border-radius: 2px;
}