<div ngClass="row justify-content-center">
    <div ngClass="col-lg-8">
        <mat-card ngClass="p-4">
            <h1 ngClass="text-center">Мои записи</h1>
            <table matSort (matSortChange)="sortData($event)">
                <tr>
                    <th mat-sort-header="date">Дата создания</th>
                    <th mat-sort-header="record">Запись</th>
                </tr>
                <tr *ngFor="let record of sortedData">
                    <td>{{record.date_created}}</td>
                    <td><a
                        ngClass="link-offset-2 link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                        routerLink="/topics/{{record.id}}">{{record.title}}</a></td>
                </tr>
            </table>
        </mat-card>
    </div>
</div>