<div [innerHTML]="this.sanitizer.bypassSecurityTrustHtml(answer?.text)"></div>
<div ngClass="d-flex justify-content-end">
    <p>{{answer?.user?.email}}</p>
</div>
<div>
    <button mat-raised-button color="accent" (click)="comment()">Комментарий</button>
</div>
<hr>
<app-new-comment *ngIf="newCommentDisplay" [relatedItem]="answer" (created)="refresh()"></app-new-comment>
<div ngClass="ms-5">
    <div *ngFor="let c of comments">
        <app-comment [comment]="c" ></app-comment>
    </div>
</div>

