<div [innerHTML]="this.sanitizer.bypassSecurityTrustHtml(answer?.text)"></div>
<div ngClass="d-flex">
    <div ngClass="flex-grow-1"></div>
    <div>
        <div ngClass="d-flex justify-content-end">
            <button mat-icon-button (click)="onEdit.emit(answer)" color="primary"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button (click)="onDelete.emit(answer)" color="warn"><mat-icon>delete</mat-icon></button>
        </div>
        <div>{{answer?.user?.email}}</div>
    </div>
</div>

<div>
    <button mat-raised-button color="accent" (click)="comment()">Комментарий</button>
</div>
<hr>
<app-new-comment *ngIf="newCommentDisplay" [relatedItem]="answer" (created)="refresh()"></app-new-comment>
<div ngClass="ms-5">
    <div *ngFor="let c of comments">
        <app-comment [comment]="c" ></app-comment>
    </div>
</div>

