.question {
    padding: 0 0 10px 0;
    border-bottom: 2px solid gray;
}

.m-grid {
    display: grid;
    grid-template-areas:
    "recent"
        "feat"
        "content";
}

@media (min-width: 600px) {
    .m-grid {
        grid-template-areas: 
        "feat content recent";
        grid-template-columns: 1fr 4fr 1fr;
        column-gap: 20px;
    }
}

.feat {
    grid-area: feat;
}

.content {
    grid-area: content;
}

.recent {
    grid-area: recent;
}