<div ngClass="m-grid">
    <div ngClass="feat"></div>
    <div ngClass="content">
        <mat-card ngClass="p-4 mb-3">
            <div ngClass="question">
                <div *ngIf="!question;else ready">
                    <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
                    <p>Извините, запрашиваемая запись не найдена.</p>
                </div>
                <ng-template #ready>
                    <app-question [question]="question" (voteUpdated)="getQuestion()"></app-question>
                    <div ngClass="ms-5">
                        <div *ngFor="let c of comments">
                            <app-comment [comment]="c" (onEdit)="editComment($event)" (onDelete)="deleteComment($event)"></app-comment>
                        </div>
                    </div>
                    <div class="mt-2">
                        <div class="d-flex flex-row w-50">
                            <button *ngIf="!question?.is_article" ngClass="me-1" mat-button color="primary" (click)="answer()" matTooltip="Ответ"><mat-icon>reply</mat-icon></button>
                            <button ngClass="ms-1" mat-button color="accent" (click)="comment()" matTooltip="Комментарий"><mat-icon>comment</mat-icon></button>
                        </div>
                    </div>
                </ng-template>
            </div>
            <app-new-comment *ngIf="newCommentDisplay" [relatedItem]="question" (created)="getQuestion()" (display)="refreshNewCommentDisplayState($event)"></app-new-comment>
            <app-edit-comment *ngIf="editCommentDisplay" [comment]="commentEdit" [relatedItem]="question" (updated)="getQuestion()" (display)="refreshEditCommentDisplayState($event)"></app-edit-comment>
            <app-new-answer *ngIf="newAnswerDisplay" (display)="refreshDisplayState($event)" (created)="getQuestion()"></app-new-answer>
            <app-edit-answer *ngIf="editAnswerDisplay" [answer]="answerEdit" (display)="refreshEditAnswerDisplayState($event)" (updated)="getQuestion()"></app-edit-answer>
        </mat-card>
        <div *ngFor="let a of answers">
            <app-answer [answer]="a" (commentCreated)="getQuestion()" (onEdit)="editAnswer($event)" (onDelete)="deleteAnswer($event)" (voteUpdated)="getQuestion()"></app-answer>
        </div>
    </div>
    <div ngClass="recent">
        <button mat-flat-button color="primary" (click)="onQuestion('Новая запись')">
            Создать запись</button>
            <hr>
            <h3>Новые записи</h3>
            <div *ngFor="let topic of lastTopics" ngClass="my-2">
                <a ngClass="link-offset-2 link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" routerLink="/topics/{{this.topicService.getIdentifier(topic)}}">{{topic.title}}</a>
            </div>
    </div>
</div>
