<form>
      <div ngClass="d-flex flex-column">
        <quill-editor
          name="text"
          [(ngModel)]="content"
          [modules]="modules"
          [styles]="{ minHeight: '250px', width: '100%'}"
          placeholder="Пишите здесь..."
          (onEditorCreated)="addBindingCreated($event)"
        ></quill-editor>
        <div ngClass="d-flex mt-2">
          <button ngClass="me-1" mat-raised-button color="primary" (click)="onSave.emit(content)">
            Добавить
          </button>
          <button ngClass="ms-1" mat-flat-button (click)="onCancel.emit()">
            Отмена
          </button>
        </div>
      </div>
    </form>
