<div ngClass="row justify-content-center">
    <div ngClass="col-lg-6">
        <h1 ngClass="text-center">{{topic}}</h1>
        <form (ngSubmit)="addQuestion(form.value)" #form="ngForm">
            <div ngClass="d-flex flex-column">
                <mat-form-field appearance="outline">
                    <textarea ngModel matInput placeholder="Содержимое вопроса..." name="text" id="" cols="85" rows="10" ></textarea>
                </mat-form-field>
                <div ngClass="d-flex">
                    <button ngClass="me-1" mat-raised-button color="primary">Добавить вопрос</button>
                    <button ngClass="ms-1" mat-flat-button (click)="cancel()">Отмена</button>
                </div>
            </div>
        </form>
    </div>
</div>
