<div ngClass="m-grid">
    <div ngClass="feat"></div>
    <div ngClass="content">
        <mat-card ngClass="p-4">
            <h1 ngClass="text-center">Мои записи</h1>
            <mat-chip-listbox multiple="true" (change)="onChipSelect($event)">
              <mat-chip-option ngClass="m-1" *ngFor="let tag of myTags">
                  <mat-icon style="color: gray;" matChipTrailingIcon *ngIf="tag.is_private">lock</mat-icon>
                  {{tag.name}}
              </mat-chip-option>
            </mat-chip-listbox>
            <table matSort (matSortChange)="sortData($event)">
                <thead>
                    <th mat-sort-header="is_private">Личная</th>
                    <th ngClass="w-30" mat-sort-header="date">Дата создания</th>
                    <th ngClass="w-40" mat-sort-header="record">Запись</th>
                    <th>Тэг</th>
                    <th></th>
                </thead>
                <tr *ngFor="let record of sortedData">
                    <td ngClass="text-center">
                        <mat-icon fontIcon="check" *ngIf="record.is_private"></mat-icon>
                    </td>
                    <td>{{record.date_created}}</td>
                    <td><a ngClass="link-offset-2 link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                            routerLink="/topics/{{record.id}}">{{record.title}}</a></td>
                    <td>
                        <mat-chip ngClass="small m-1" *ngFor="let tag of record.tags">
                            {{tag.name}}
                        </mat-chip>
                    </td>
                    <td>
                        <div ngClass="d-flex">
                            <button ngClass="mx-1" mat-icon-button color="primary" (click)="editTopic(record)"><mat-icon>edit</mat-icon></button>
                            <button ngClass="mx-1" mat-icon-button color="warn" (click)="deleteRecord(record)"><mat-icon>delete</mat-icon></button>
                        </div>
                    </td>
                </tr>
            </table>
        </mat-card>
    </div>
    <div ngClass="recent">
        <button mat-flat-button color="primary" (click)="onQuestion('Новая запись')">
            Создать запись</button>
            <hr>
    </div>
</div>
