<div ngClass="d-none d-lg-flex me-4">
  <span *ngIf="userValue?.isLoggedIn; else isLoggedOut">
    <button matTooltip="Мои записи" mat-button routerLink="my-questions"><mat-icon>notes</mat-icon></button>
    <button mat-button [matMenuTriggerFor]="menu"><span>{{userValue?.userEmail}}</span></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Профиль</button>
      <button mat-menu-item routerLink="my-answers">Мои ответы</button>
      <button mat-menu-item routerLink="my-tags">Мои теги</button>
      <button mat-menu-item (click)="this.auth.logout()">Выход</button>
    </mat-menu>
  </span>
  <ng-template #isLoggedOut>
    <span style="color: white;">
      <button mat-button routerLink="/account/register">Регистрация</button>
      <button mat-button routerLink="/account/login">Вход</button>
    </span>
  </ng-template>
</div>
<div ngClass="d-lg-none">
  <span *ngIf="userValue?.isLoggedIn; else isLoggedOut1">
    <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
    <mat-menu #menu="matMenu">
        <div mat-menu-item>{{this.auth.userValue?.userEmail}}</div>
      <button mat-menu-item>Профиль</button>
      <button mat-menu-item routerLink="my-questions">Мои записи</button>
      <button mat-menu-item routerLink="my-answers">Мои ответы</button>
      <button mat-menu-item routerLink="my-tags">Мои теги</button>
      <button mat-menu-item (click)="this.auth.logout()">Выход</button>
    </mat-menu>
  </span>
  <ng-template #isLoggedOut1>
    <button mat-button [matMenuTriggerFor]="menu"><mat-icon style="color: white;">menu</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/account/register">Регистрация</button>
      <button mat-menu-item routerLink="/account/login">Вход</button>
    </mat-menu>
  </ng-template>

</div>