<header>
  <mat-toolbar ngClass="px-5 py-1" style="background-color: #3f51b5;">
    <mat-toolbar-row ngClass="row justify-content-between">
      <div ngClass="col-lg-2 d-none d-lg-flex"><a style="text-decoration: none;color:white" routerLink=""><div ngClass="text-start">CCJX.SITE</div><div ngClass="text-start">сообщество</div></a></div>
      <div ngClass="col-lg-8 col-md-10 col-sm-10 col-10">
        <app-search-bar></app-search-bar>
      </div>
      <div ngClass="col-lg-2 col-md-2 col-sm-1 col-1">
        <app-login-display></app-login-display>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</header>